body{
    font-family: sans-serif;
    background: #00ccff;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #b54fc9;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
    
}




.background li:nth-child(0) {
    left: 3%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 81%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 70%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 49%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 82%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 62%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 53%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 3s;
}
.background li:nth-child(7) {
    left: 45%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 4s;
}
.background li:nth-child(8) {
    left: 68%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 10s;
}
.background li:nth-child(9) {
    left: 23%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 22s;
}
.inbox {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #F9F9F9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}